<!-- Footer -->
<footer class="page-footer font-small darken-3">

        <!-- Footer Elements -->
        <div class="container">
    
          <!-- Grid row-->
          <div class="row">
              
            <div class="col-md-12 flex-center"> 
                <img src="../../assets/imgs/badge.png" alt="">
            </div>
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="mb-5 flex-center">
    
                <!-- Facebook -->
                <a class="fb-ic">
                  <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                    <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                    <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
              </div>
            </div>
            <div class="col-md-12">

            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
    
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="row">
        <div class="footer-copyright py-3 col-lg-6">
            All copyrights reserved by Wellcome to Wickramarachchi Ayurveda Teaching Hospital - © {{year}}
        </div>
        <div class="footer-copyright py-3 col-lg-6 " style="text-align: end">
                Website Designed & Developed by University Of Moratuwa
        </div>
        <!-- Copyright -->
    </div>
      </footer>
      <!-- Footer -->