<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Wickramarachchi Ayurveda Hospital</strong>
      </a>
    </mdb-navbar-brand>
    <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a style="color: black" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon><b>Home</b><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user-nurse"></mdb-icon><b>About Us</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="mortar-pestle"></mdb-icon><b>Contact</b></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user-md"></mdb-icon><b>Services</b></a>
            </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="book-medical"></mdb-icon><b></b> Departments<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dep 1</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dep 1</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dep 3</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dep 4</a>

          </div>
        </li>
  
      </ul>
      <!-- Links -->
    </links>x
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2">
    <div class="full-bg-img">

      <div class="mask rgba-purple-light flex-center">
        <div class="container white-text wow fadeInUp">
          <div class="row">
            <div class="col-lg-12 text-start">
              <h2>Welcome to Wickramarachchi Ayurveda Teaching Hospital</h2>
              <br>
            </div>
            <div class="col-lg-8 text-center">
              <h5>Gampaha Wickramarachchi Ayurveda Teaching Hospital is a teaching-oriented hospital (it was upgraded to teaching status in 2008) that serves as the teaching hospital of Gampaha Wickramarachchi Ayurveda Institute administered under the purview of Ministry of Health and Indigenous Medicine.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
  <!--/.Navbar-->