.view {
    background: url("../../assets/imgs/ayu_main.jpg")no-repeat center center;
    background-size: cover;
    height: 60vh;
}

.navbar {
    background-color: gray;
font-style: strong;
}
.nav-link b, .nav-link, mdb-icon , .navbar-brand{
    color: black
}
.top-nav-collapse {
    background-color: rgba(59, 5, 104, 0.356);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(74, 24, 192, 0.356);
    }
}