.intro-header {
  height: unset !important;
}

.row{
  padding: 5px
}

.top-nav-collapse {
  background-color: #78909c !important;
}
.view {
  height: 100vh !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
h1 {
  letter-spacing: 8px;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}
.services{
  background:rgba(0, 128, 0, 0.226);
  padding: 1px
}

.slogan{
  background-color :rgba(26, 212, 57, 0.274);
}
.slogan:hover{
  background :rgba(128, 0, 117, 0.082);
}

img {
  opacity: 0.2;
}



/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: url('../../assets/imgs/ayurveda-medicine.jpg');
  counter-increment: gallery-cell;
}
.gallery-cell.img1{
  background: url('../../assets/imgs/ayurveda-medicine.jpg');
}

.gallery-cell.img1{
  background: url('../../assets/imgs/ayu_main.jpg');
}


.gallery-cell.is-selected {
  background:url('../../assets/imgs/ayurveda-medicine.jpg');
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  //content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}



.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card>.list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-login .card-header {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -40px;
  padding: 20px 0;
  margin-bottom: 15px;
}

.card-login .text-divider {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.card-login .card-body {
  padding: 0px 30px 0px 10px;
}

.card-login .form-check {
  padding-top: 27px;
}

.card-login .form-check label {
  margin-left: 18px;
}

.card-login .form-check .form-check-sign {
  padding-right: 27px;
}

.card-login .input-group {
  padding-bottom: 7px;
  margin: 27px 0 0 0;
}

.card-login .form {
  min-height: 420px;
}

.card-login .social-line {
  margin-top: 1rem;
  text-align: center;
  padding: 0;
}

.card-login .social-line .btn {
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}

.service-item {
	cursor: pointer;
	background-color: rgba(100, 192, 24, 0.178);
	text-align: center;
	padding: 30px 20px;
	transition: all 0.7s;
	box-shadow: 0px 0px 15px #cdcdcd;
}

.service-item:hover {
	background-color:rgba(100, 192, 24, 0.356);
}

.service-item h4 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.service-item:hover h4 {
	color: #fff;
}

.service-item:hover p {
	color: #fff;
}





img {
  width: 100px;
  filter: brightness(0) invert(1);

}

/*.container {
  width: 75vw;
  position: relative;
  display: flex;
  justify-content: space-between;
}*/

.container {
  /*width: 75vw;
  position: relative;*/
  /*margin: 0 auto;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3.89em;
  min-height: 100vh;
  justify-items: center;
  align-items: center;
}

.cardd .face {
  width: 300px;
  height: 200px;
  overflow: hidden;
  transition: 0.5s;
}

.cardd .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  z-index: 1;
  transform: translateY(100px);
}

.cardd:hover .face.face1 {
  transform: translateY(0);
  background: #ff0057;
}

.cardd .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.cardd .face.face1 .content h3 {
  color: #fff;
  text-align: center;
}

.container .cardd:hover .face.face1 .content {
  opacity: 1;
}

.cardd .face.face2 {
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.cardd:hover .face.face2 {
  transform: translateY(0);
}

.cardd .face.face2 .content {
  margin: 0;
  padding: 0;
}

.cardd .face.face2 .content a {

  margin: 15px 0 15px;
  text-decoration: none;
  display: inline-block;
  font-weight: 900;
  padding: 5px;
  color: #333;
  border: 1px solid #333;
}

.cardd .face.face2 .content a:hover {

  color: #fff;
  background: #333;
}

//section

.section{
  position: relative;
  width: 100%;
  height: 400px;
  height: 80vh;
  overflow: hidden;
}
.section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6827b0;
  background: linear-gradient(45deg,#ff0081,#6827b0);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(1.5);
  -moz-transform: scaleX(1.5);
  -webkit-transform: scaleX(1.5);
  -o-transform: scaleX(1.5);
}
.section .content{
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 911px;
  text-align: center;
}
.section .content h2{
  font-size: 44px;
}
.section .content p{
  font-size: 22px;
}