<mdb-card class="services">
  <div class="services text-center row">
    <div class="col-lg-6 slogan">
      <h2 class="card-title h1-responsive pt-3 mb-3 font-bold">
        <strong>Slogan</strong>
      </h2>
      <i class="fas fa-clinic-medical mb-3 green-text" style="font-size: 50px"></i>
      <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio
        nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
      </p>
    </div>
    <div class="col-lg-6 vission">
      <h2 class="card-title h1-responsive pt-3 mb-3 font-bold">
        <strong>Vission</strong>
      </h2>
      <i class="fas fa-user-md mb-3 green-text" style="font-size: 50px"></i>
      <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio
        nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
      </p>
      <a mdbBtn color="light-blue" mdbWavesEffect>
        <mdb-icon fas icon="clone" class="left"></mdb-icon>About Us
      </a>
    </div>
  </div>
</mdb-card>

<div>
  <h1 style="text-align: center" class="mb-3">Our Services</h1>
</div>
<div class="row">

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="service-item">
      <div class="flex-center">
        <img src="../../assets/imgs/kissclipart-herbal-medicine-icon-clipart-alternative-health-se-e91fe4bd0be73e4a.png.png"
          style="width: 50px;height: 50px;;">
      </div>
      <h4>Serivice 1</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, rerum quasi suscipit doloremque vero quae. Vel repudiandae
        aspernatur laboriosam quibusdam. Voluptate illo sed dignissimos animi, dolore temporibus corporis maxime? Rerum?</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="service-item ">
      <div class="flex-center">
        <img src="../../assets/imgs/kissclipart-herbal-medicine-icon-clipart-alternative-health-se-e91fe4bd0be73e4a.png.png"
          style="width: 50px;height: 50px;;">
      </div>
      <h4>Serivice 2</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut fugiat iste reiciendis corporis at, quasi placeat? Adipisci
        a commodi sapiente nulla accusamus, mollitia rerum. Unde incidunt minus placeat modi tenetur!</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="service-item">
      <div class="flex-center">
        <img src="../../assets/imgs/kissclipart-herbal-medicine-icon-clipart-alternative-health-se-e91fe4bd0be73e4a.png.png"
          style="width: 50px;height: 50px;;">
      </div>
      <h4>Serivice 3</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, dignissimos asperiores? Perspiciatis laboriosam suscipit
        voluptatem, accusamus repellendus quisquam, asperiores eaque beatae qui fugiat sapiente enim veritatis culpa placeat.
        Magni, eveniet.</p>
    </div>
  </div>
</div>

<app-card-carousel></app-card-carousel>

<!-- Flickity HTML init -->
<div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true }'>
  <div class="gallery-cell img1"></div>
  <div class="gallery-cell img1"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
</div>
<div class="row">
<div class="cardd">
  <div class="face face1">
      <div class="content">
          <img src="https://image.flaticon.com/icons/svg/681/681662.svg" alt="">
          <h3>Design</h3>
      </div>
  </div>
  <div class="face face2">
      <div class="content">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#">Read More</a>
      </div>
  </div>
</div>
</div>